* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0px;
    /* height: 100vh; */
    background-image: url(Images/background.jpg);
    /* opacity: 0.5; */
    background-position:center;
    background-size: cover;
   /*  padding-left: 2%;
    padding-right: 2%; */
    box-sizing: border-box;
}
.navbar {
    height: 12%;
    width: 100%;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    padding-top: 0px;
    background-color: rgba(146, 39, 123, 0.3);
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    z-index: 10;
}
.logo {
    cursor: pointer;
    padding: 4px;
    margin-left: 20px;
    /* width: 20px; */
}
nav{
    flex: 1;
    text-align: right;
}
.menuicon {
width: 30px;
cursor: pointer;
margin-left: 40px;
margin-right: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(124, 27, 108);
    font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;
}
a:hover {
    color: white;
  }

.kutu {
    width: 700px;
    height: 300px;
    display: table;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    margin: 15px;
    background-color: rgba(102, 51, 153, 0.329);

}
.row {
    display: flex;
    height: 88%;
    align-items: center;
}
.col {
    margin-left: 50px;
    margin-top: 50px;
    flex-basis: 50%;
}
h2 {
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    
}
h3{
    color: rgb(0, 0, 0);
    font-family: 'Economica', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    line-height: 30px;
}
h4 {
    font-size: 25px;
}
#footer {  
  border-top: 2px solid rgb(0, 0, 0);
  margin: 10px;
  width: 100vw;
  position: flex;
  justify-content: center;
  text-align: right;
  color: #505050;
  font-size: 10pt;
}
.text{
    font-family: 'Economica', sans-serif;
    font-size: 20px;
    float: right;
    margin: 20px;
}
.baslik{
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    
}
.contacts {
    width: 98vw;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:10px;
    margin-top:10px; 
    z-index: 10;
  }
.con1 {
    margin: 0.4vw;
    padding: 0%;
  }
